<h1 class="mt-2">Amaris Consulting - Employees</h1>
<div *ngIf="loading" class="text-center mt-3">
  <div class="spinner-border" role="status">
    <span class="sr-only"></span>
  </div>
</div>
<div class="content">
  <app-employee-search (searchEmployee)="onSearchEmployee($event)"></app-employee-search>
  <app-employee-list *ngIf="showMode == 'list'" [employees]="employees"></app-employee-list>
  <app-employee-single *ngIf="showMode == 'single'" [employee]="employee"></app-employee-single>
  <div *ngIf="errorMessage" class="alert alert-danger mt-1">{{ errorMessage }}</div>
</div>
